<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <div class="box" id="heading">
        <h1><%= dayy %></h1>
    </div>
    <div class="box">
        <% taskk.forEach(function (task){%>
            <form action="/delete" method="post">
        <div class="item" > 
            <input type="checkbox" name="checkbox" value="<%= task._id%>" onChange="this.form.submit()">
             <p><%= task.task %></p> 
              </div>
            </form>
            <%});%>
            <form class="item" action="/" method="POST">
                <input  type="text" name="newtask" placeholder="New item" autocomplete="off">
                <button type="submit" name="submit">+</button>
            </form>
</div>

   
</body>
</html>